<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>MIXtory</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/search.css'>
</head>
<body>
    <header>
        <section>
            <nav>
                <div class="img_logo">
                    <a href="/">MIXtory</a>
                </div>
                <div class="nav_items">
                  <ul>
                    <li><a href="/search">칵테일 검색</a></li>
                    <li><a href="/minibar">나만의 미니바</a></li>
                    <li><a href="/community">커뮤니티</a></li>
                    <li><a href="/notice">공지사항</a></li>
                  </ul>
                </div>
                <div class="login">
                    <% if(logio){ %>
                        <a href="/logout">로그아웃</a>
                    <% } else { %>
                        <a href="/login">로그인</a>
                    <% } %>
                </div>
            </nav>
        </section>
    </header>
    <main>
        <section>
            <div class="title">
                <h1><%= cdata[0].name %></h1>
            </div>
            <div class="width_parent">
                <% if(isLike[0]){ %>
                    <button class="btn_heart_selected"><a href="/dislike/<%= cdata[0].name %>">❤</a></button>
                <% } else { %>
                    <button class="btn_heart"><a href="/like/<%= cdata[0].name %>">❤</a></button>
                <% } %>
            </div>
            <div class="center_div width_parent">
                <% if (img[0].img) { %>
                    <img src="<%= img[0].img %>" alt="image 출력" width="300"/>
                <% } %>
            </div>
            <table width="100%" border="1">
                <thead>
                    <tr>
                        <th>재료</th>
                        <th>양(ml)</th>
                    </tr>
                </thead>
                <tbody>
                    <% cdata.forEach(function(item, index) { %>
                    <tr>
                        <td class="center_cell"><%= item.igdcategory %></td>
                        <td class="center_cell"><%= item.amount %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <div>
                <button class="btn_edit"><a href="/edit/<%= cdata[0].name %>">정보 수정</a></button>
                <button class="btn_edit"><a href="/delete/<%= cdata[0].name %>">칵테일 삭제</a></button>
                <button class="btn_edit">
                    <a href="javascript:history.back()">뒤로가기</a>
                </button>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="line width_parent"></div>
            <p>MIXtory</p>
            <p>ninanoray</p>
        </section>
    </footer>
</body>
</html>